.section {
  padding-top: 5em;
  padding-bottom: 5em;
}

.section.hero {
  position: relative;
  min-height: 600px;
  background-color: var(--clrPrimary400-6c00fdf1);
}

.section.title {
  background-color: var(--clrPrimary400-6c00fdf1);
  color: var(--clrPrimary999-b0a60ce1);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;
}

@media screen and (max-width: 767px) {
  .container {
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
}

.container.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container.narrow {
  max-width: 720px;
}

.brand-heading {
  margin-bottom: 2em;
  color: var(--clrPrimary600-aeaf7110);
  text-align: center;
}

.logo-row {
  display: flex;
  grid-auto-columns: 1fr;
  grid-column-gap: 4em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .logo-row {
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }
}

@media screen and (max-width: 479px) {
  .logo-row {
    grid-row-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.logo-wrapper {
  color: var(--clrPrimary600-aeaf7110);
}

@media screen and (max-width: 767px) {
  .logo-wrapper {
    width: 24%;
  }
}

@media screen and (max-width: 479px) {
  .logo-wrapper {
    width: 40%;
  }
}

#w-node-b77115e0-1822-f0f7-10e0-565207c3febe-07c3feb9 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  align-self: center;
}
#w-node-b77115e0-1822-f0f7-10e0-565207c3febf-07c3feb9 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-b77115e0-1822-f0f7-10e0-565207c3fec0-07c3feb9 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  align-self: center;
}
#w-node-b77115e0-1822-f0f7-10e0-565207c3fec2-07c3feb9 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  align-self: center;
}
#w-node-b77115e0-1822-f0f7-10e0-565207c3fec3-07c3feb9 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-b77115e0-1822-f0f7-10e0-565207c3fec4-07c3feb9 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  align-self: center;
}
#w-node-b77115e0-1822-f0f7-10e0-565207c3fec6-07c3feb9 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
  align-self: center;
}