.section {
  padding-top: 5em;
  padding-bottom: 5em;
}

.section.hero {
  position: relative;
  min-height: 600px;
  background-color: var(--clrPrimary400-6c00fdf1);
}

.section.title {
  background-color: var(--clrPrimary400-6c00fdf1);
  color: var(--clrPrimary999-b0a60ce1);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1em;
  padding-left: 1em;
}

@media screen and (max-width: 767px) {
  .container {
    padding-right: 1.5em;
    padding-left: 1.5em;
  }
}

.container.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container.narrow {
  max-width: 720px;
}

.jobs-page-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 767px) {
  .jobs-page-grid {
    grid-template-columns: 1fr;
  }
}

.job-meta-wrapper {
  display: flex;
  flex-direction: column;
  grid-row-gap: 1em;
}

.job-meta-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.job-label {
  font-weight: 700;
}

.category-chip {
  display: block;
  padding: 0.1em 1em;
  border-radius: 2em;
  background-color: var(--clrSecondary400-685c3959);
  color: var(--clrPrimary600-aeaf7110);
}

.mt0 {
  margin-top: 0px;
}

.mb2 {
  margin-bottom: 2rem;
}

.button {
  padding: 1em 2em;

  border-radius: 2em;

  background-color: hsla(247.6190476190476, 42.28%, 29.22%, 1.00);

  box-shadow: none;

  transition: background-color 200ms ease,color 200ms ease;

  color: hsla(247.05882352941174, 0.00%, 100.00%, 1.00);
  font-size: 1.3rem;
  font-weight: 700;
}

.button:hover {
  background-color: hsla(196.55172413793105, 54.72%, 79.22%, 1.00);
  box-shadow: none;
  color: hsla(247.6190476190476, 42.28%, 29.22%, 1.00);
}

.button:focus {
  outline-color: var(--clrPrimary600-aeaf7110);
  outline-offset: 0.2rem;
  outline-style: solid;
  outline-width: 0.2rem;
}

.button:focus-visible {
  outline-color: var(--clrPrimary600-aeaf7110);
  outline-offset: 0.2rem;
  outline-style: solid;
  outline-width: 0.2rem;
}

.button.secondary {
  background-color: var(--clrSecondary400-685c3959);
  color: var(--clrPrimary600-aeaf7110);
}

.button.secondary:hover {
  background-color: var(--clrPrimary400-6c00fdf1);
  color: var(--clrNeutral100-f9191126);
}

.button.secondary:focus {
  outline-color: var(--clrSecondary400-685c3959);
}

.button.tertiary {
  background-color: var(--clrQuarternary400-68656429);
  color: var(--clrPrimary600-aeaf7110);
}

.button.tertiary:hover {
  background-color: var(--clrPrimary600-aeaf7110);
  color: var(--clrNeutral100-f9191126);
}

.button.tertiary:focus {
  outline-color: var(--clrQuarternary400-68656429);
}

.button.small {
  padding: 1em 1.5em;
  font-size: 1rem;
}

#w-node-b5a5ddfd-6cd1-01fb-2140-91ef72d47996-72d47991 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-b5a5ddfd-6cd1-01fb-2140-91ef72d479a4-72d47991 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}